@media (prefers-color-scheme: light) {
    :root {
        --text: #000000;
        --background: #ffffff;
        --high: #FF4C4C;
        --medium: #FFD700;
        --low: #FFA500;
        --highlight-primary: #A3C8E7;
        --highlight-secondary: #F5F5F5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --background: #1E1E1E;
        --high: #B30000;
        --medium: #FFD900;
        --low: #FFA600;
        --highlight-primary: #183E5D;
        --highlight-secondary: #3D3D3D;
    }
}


/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    height: 100dvh;
    background-color: var(--background);
    color: var(--text);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    user-select: none;
    -webkit-user-drag: none;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

button {
    border: none;
    background-color: inherit;
}