header {
    padding-top: 3rem;
    padding-left: 4rem;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    width: 80px;
    overflow: hidden;
    transition: width 300ms ease;
}

nav:hover {
    width: 256px;
}

nav button {
    cursor: pointer;
}

nav button img {
    width: 50px;
    height: 50px;
}

nav button span {
    padding-left: 0.85rem;
    min-width: 103px;
    text-align: left;
}

nav hr {
    width: 99%;
    margin-inline: auto;
    border: 1px solid var(--secondary);
}

nav .active {
    background-color: var(--secondary);
}

.nav-item {
    width: 100%;
    padding: 7px 0;
    border-radius: 3.5px;
}

.nav-item:hover {
    background-color: var(--secondary);
}

.nav-item button {
    display: flex;
    align-items: center;
}

.nav-main {
    margin-bottom: 1.75rem;
}

.nav-other {
    margin-top: 1rem;
}

.nav-main,
.nav-other {
    display: flex;
    flex-direction: column;
}

#content {
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content h1 {
    margin-top: 5rem;
    width: 810px;
    margin-inline: auto;
}

.list-content {
    min-height: 482px;
}

.container {
    min-height: 310px;
    padding: 5rem;
}

.container-title {
    max-width: 810px;
    margin-inline: auto;
    padding: 1rem 0;
}

.container-content {
    display: flex;
    flex-direction: column;
}

#add-task,
#add-project {
    max-width: 779px;
    width: 100%;
    margin-inline: auto;
    text-align: left;
    cursor: pointer;
    color: #666666;
}

#add-task span,
#add-project span {
    margin-right: 1rem;
}

#add-task span img,
#add-project span img {
    margin-bottom: 3px;
}

.task-form {
    max-width: 800px;
    width: 1100%;
    margin-inline: auto;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    color: #666666;
}

.task-form button {
    cursor: pointer;
}

.form-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 1rem;
    padding-bottom: 0;
}

.form-text input {
    border: none;
    color: inherit;
}

.form-text input:focus {
    outline: none;
}

.form-text input:first-of-type {
    font-weight: bold;
    font-size: 15px;
}

.form-text input:last-of-type {
    font-size: 14px;
}

.form-options {
    display: flex;
    gap: 1rem;
    margin-bottom: 12px;
    padding-inline: 1rem;
}

.form-options button {
    color: inherit;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 6px;
    border-radius: 6px;
}

.form-options button span {
    margin-right: 0.45rem;
}

.form-options span img {
    margin-bottom: 2px;
}

.form-actions,
.actions-btn {
    display: flex;
}

.form-actions {
    justify-content: space-between;
    height: 49px;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    padding-inline: 1rem;
}

.form-actions button:first-of-type {
    color: inherit;
}

.form-actions button span {
    margin-right: 0.45rem;
}

.form-actions span img {
    margin-bottom: 2px;
}

.actions-btn {
    gap: 1rem;
}

.actions-btn button {
    padding-inline: 12px;
    border-radius: 6px;
    height: 32px;
    align-self: center;
}

.actions-btn button:first-of-type {
    background-color: var(--primary);
    color: black;
}

.actions-btn button:last-of-type {
    background-color: var(--highlight-primary);
    color: #fff !important;
}

.due-date-dropdown,
.priority-dropdown {
    position: relative;
    display: inline-block;
}

.due-date-dropdown input[type="date"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.due-date-dropdown input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown-items {
    font-size: 14px;
    min-width: 106px;
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.dropdown-items button {
    text-align: left;
    border: none;
    width: 100%;
    border-radius: 0;
}

.dropdown-items button:hover {
    background-color: #f3f3f3;
}

.dropdown-items button span {
    margin-right: 0.45rem;
}

.storage-dropdown {
    display: flex;
}

.show {
    display: block;
}