header {
    padding: 3rem 0 0 3rem;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    width: 256px;
    overflow: hidden;
    transition: width 300ms ease;
}

nav button {
    cursor: pointer;
}

nav button img {
    width: 50px;
    height: 50px;
}

nav button span {
    padding-left: 0.85rem;
    min-width: 103px;
    text-align: left;
}

nav .active {
    background-color: var(--secondary);
}

.nav-item {
    width: 100%;
    padding: 7px 0;
    border-radius: 3.5px;
}

.nav-item:hover,
.project-div:hover {
    background-color: var(--secondary);
}

.nav-item button {
    display: flex;
    align-items: center;
    width: 100%;
}

#content {
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content h1 {
    margin-top: 5rem;
    width: 810px;
    margin-inline: auto;
}

.list-content {
    min-height: 482px;
}

.container {
    min-height: 310px;
    padding: 5rem;
}

.container-title {
    max-width: 810px;
    margin-inline: auto;
    padding: 1rem 0;
}

.container-content {
    display: flex;
    flex-direction: column;
}

#add-task,
#add-project,
#add-note {
    max-width: 779px;
    width: 100%;
    margin-inline: auto;
    text-align: left;
    cursor: pointer;
    color: #666666;
}

#add-task span,
#add-project span,
#add-note span {
    margin-right: 1rem;
}

#add-task span img,
#add-project span img,
#add-note span img {
    margin-bottom: 3px;
}

.task-form,
.note-form {
    max-width: 800px;
    width: 1100%;
    margin-inline: auto;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    color: #666666;
    background-color: white;
}

.task-form button {
    cursor: pointer;
}

.form-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 1rem;
    padding-bottom: 0;
}

.form-text textarea {
    resize: none;
    border: none;
    color: inherit;
    height: 45px;
}

.form-text textarea:focus {
    outline: none;
}

.form-text textarea:first-of-type {
    font-weight: bold;
    font-size: 15px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-text textarea:last-of-type {
    font-size: 14px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-options {
    display: flex;
    gap: 1rem;
    margin-bottom: 12px;
    padding-inline: 1rem;
}

.form-options button {
    color: inherit;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 6px;
    border-radius: 6px;
}

.form-options button span {
    margin-right: 0.45rem;
}

.form-options span img {
    margin-bottom: 2px;
}

.form-actions,
.actions-btn {
    display: flex;
}

.form-actions {
    justify-content: space-between;
    align-items: center;
    height: 49px;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    padding-inline: 1rem;
}

.form-actions button:first-of-type {
    color: inherit;
}

.form-actions button span {
    margin-right: 0.45rem;
}

.form-actions span img {
    margin-bottom: 2px;
}

.actions-btn {
    gap: 1rem;
}

.actions-btn button,
.project-form-btnDiv button {
    padding-inline: 12px;
    border-radius: 6px;
    height: 32px;
    align-self: center;
    cursor: pointer;
    font-size: 14px;
}

.actions-btn button:first-of-type,
.project-form-btnDiv button:first-of-type {
    background-color: var(--primary);
    color: black;
}

.actions-btn button:last-of-type,
.project-form-btnDiv button:last-of-type {
    background-color: var(--highlight-primary);
    color: #fff !important;
}

.due-date-dropdown,
.priority-dropdown,
.storage-dropdown {
    position: relative;
    display: inline-block;
}

.due-date-dropdown input[type="date"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.due-date-dropdown input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.storage-dropdown ul {
    width: 200px;
}

.storage-dropdown li button {
    padding: 6px;
}

.storage-dropdown li button span {
    margin-right: 0.45rem;
}

.storage-dropdown span img {
    margin-bottom: 2px;
}

.dropdown-items {
    font-size: 14px;
    min-width: 106px;
    max-height: 300px;
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.dropdown-items button {
    text-align: left;
    border: none;
    width: 100%;
    border-radius: 0;
    padding: 6px;
}

.dropdown-items button:hover {
    background-color: #f3f3f3;
}

.dropdown-items button span {
    margin-right: 0.45rem;
}

.show {
    display: block;
}


dialog {
    padding: 0;
    border-radius: 10px;
    border: none;
}

dialog button {
    cursor: pointer;
}

dialog[open] {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.project-dialog {
    width: 480px;
}

.edit-task-dialog {
    width: 800px;
    background-color: transparent;
    height: 350px;
}

.project-form-titleDiv {
    height: 48px;
    padding: .5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--highlight-secondary);
}

.project-form-titleDiv h1 {
    font-size: 16px;
}

dialog hr {
    margin-top: 1rem;
    width: 100%;
    border: 1px solid var(--highlight-secondary);
}

.project-form-inputDiv,
.project-form-btnDiv {
    padding: 1rem;
}

.project-form-inputDiv {
    padding-bottom: 0;
}

.project-form-inputDiv label {
    display: block;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
}

.project-form input {
    height: 30px;
    width: 100%;
    padding: 6px 8px;
    border-radius: 7px;
    border: 1px solid #b8b8b8;
}

.project-form-btnDiv {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.note-form {
    width: 600px;
}

.note-form .actions-btn {
    justify-content: flex-end;
    padding: .5rem 1rem;
    padding-top: 0;
}

.notes-container {
    columns: auto 240px;
    column-gap: 1rem;
    margin-inline: 5rem;
    height: auto;
}

.note-card {
    display: inline-block;
    width: 250px;
    margin: 0 0 1rem 0;
    border: 1px solid #e6e6e6;
    border-radius: .5rem;
    break-inside: avoid;
    box-sizing: border-box;
}

.note-card-titleDiv {
    padding: 12px 1rem 0;
}

.note-card-title {
    font-size: 16px;
}

.note-card-contentsDiv {
    padding: 12px 1rem;
}

.note-card-contents {
    font-size: 14px;
}

.project-div {
    height: 50px;
    max-width: 779px;
    min-width: 175px;
    width: 100%;
    margin-inline: auto;
    border-radius: 10px;
}

.project-div:first-of-type {
    margin-top: 1rem;
}

.project-div button {
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.project-div button span {
    margin-right: 0.45rem;
}

.project-div span img {
    margin-bottom: 2px;
}

.todo-parent-container {
    width: 815px;
    margin-inline: auto;
}

.todo-wrapper {
    display: flex;
    min-height: 42px;
    max-height: 80px;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: .5rem;
}

.todo-wrapper button {
    cursor: pointer;
}

#checkBTN,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    max-width: 24px;
    width: 100%;
    margin-top: 7px;
    transition: all 0.3s ease;
}

#checkBTN {
    border: 1.75px solid #1e1e1e;
    border-radius: 50%;
    margin-right: 6px;
}

#checkBTN img {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#checkBTN:hover img {
    opacity: 1;
}

#checkBTN.high {
    background-color: #FF3131;
}

#checkBTN.medium {
    background-color: #FFD700;
}

#checkBTN.low {
    background-color: #FF6B35;
}

.checked img {
    opacity: 1 !important;
}

.todo-div.checked {
    text-decoration-line: line-through;
}

.todo-wrapper.checked {
    opacity: .3;
}

.todo-div {
    padding: 8px 0;
    width: 100%;
    cursor: pointer;
}

.todo-text p:last-of-type {
    font-size: 14px;
    color: #666666;
}

.todo-others {
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-size: 14px;
}

.options-dropdown .dropdown-items {
    width: 100px;
}